.about-section{
  margin-top: -36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 96px;
  margin-right: 96px;
  scroll-margin-top: 96px;
}

.about-heading{
  margin-bottom: 28px;
  font-size: 28px;
  color: #222222;
  font-weight: 200;
}

.steps-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
  margin-top: 36px;
  flex-wrap: wrap;
}

.step-container{
  border: #222222 1px solid;
  padding: 36px;
  border-radius: 30px;
  background-color: #EAFDF8;
  max-width: 600px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}